{% load static %}

<form class="search-form" action="{% url 'blog:search' %}" method="get">
    <div class="sidebar-widget search card p-4 mb-3 border-0">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="s">
            <div class="input-group-append">
                <button type="submit" class="btn btn-mian btn-small" style="margin-left: 8px;">
                    <i class="ti-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>